extends default

block content
  .main.container
    .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Enter Recipe
            form(method='POST' action='/create')
                div.form-group
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder='Name of Recipe', name='recipe[name]')
                div.form-group
                    label(for='Author') Author:
                    input#name.form-control(type='text', placeholder='Name of Author', name='recipe[author]')
                div.submit-button
                    a.button.button-twitter(href=`/create`)
                        |   Add Recipe

