extends default

block content
  .main.container
    .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Enter Recipe
            body
                form(method='POST' name='create')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='Name of Recipe', name='name')
                    div.form-group
                        label(for='author') Author:
                        input#name.form-control(type='text', placeholder='Name of Author', name='author')
                    div.submit-button
                        label(for='submit') Add:
                        input(type='submit', name='submit')

