extends default

block content
    div.recipe
        div.recipe-images
            div.recipe-image
                img.image(src='/images/burger.jpeg')
                a.button.button-twitter(href="/")
                    |   Add Photo
            div.recipe-image
                img.image(src='/images/pancakes.jpeg')
                a.button.button-twitter(href="/")
                    |   Add Photo
        div.col-md-12.col-md-offset-3
            h1.display-4.m-b-2 Enter Recipe
            body
                form(action='/create' method='POST')
                    div.recipe-form
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='Name of Recipe', name='name')
                    div.recipe-form
                        label(for='author') Author:
                        input#name.form-control(type='text', placeholder='Name of Author', name='author')
                    div.recipe-text-area
                        label(for='ingredients') Ingredient List:
                        textarea(type='text', placeholder='List of Ingredients Here', name='ingredients')
                    div.recipe-form.button
                        input(type='submit', name='submit')


