doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        div.titleBlock(style=`background: top center
        no-repeat; background-size: cover;`)
        header.header
          div.title
            h1 #{title}
          div.menu
              .form-group
                label.control-label.requiredField(for='menuOption')
                  | Menu
                .col-xs-12
                  select#propertyType.select.form-control.input-lg(form='selectMenu', name='menuOption')
                    option(value='0', selected= true) -- Select --
                    option(value='1', selected= false) Home
      block content
      
      