extends header

block content
    // !PAGE CONTENT!
    .w3-main.w3-content.w3-padding(style='max-width:1200px;margin-top:100px')
        // First Photo Grid
        .w3-row-padding.w3-padding-16.w3-center
            .w3-half
                img(src='/images/burger.jpeg' alt='Burger' style='width:100%')
                h3 The Perfect Burger
                p Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            .w3-half
                img(src='/images/pancakes.jpeg' alt='Pancakes' style='width:100%')
                h3 Let Me Tell You About These Cakes
                p
                    | Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
        .w3-row-padding.w3-padding-16.w3-center    
            .w3-half
                img(src='/images/burrito.jpeg' alt='Burrito' style='width:100%')
                h3 Burritos
                p Lorem ipsum text praesent tincidunt ipsum lipsum.
                p What else?
            .w3-half
                img(src='/images/meatball.jpg_1587929006847.jpg' alt='There It Is' style='width:100%')
                h3 Once Again, Placeholder
                p Lorem ipsum text praesent tincidunt ipsum lipsum.
        // Second Photo Grid
        //.w3-row-padding.w3-padding-16.w3-center
            .w3-quarter
            img(src='/w3images/popsicle.jpg' alt='Popsicle' style='width:100%')
            h3 All I Need Is a Popsicle
            p Lorem ipsum text praesent tincidunt ipsum lipsum.
            .w3-quarter
            img(src='/w3images/salmon.jpg' alt='Salmon' style='width:100%')
            h3 Salmon For Your Skin
            p
                | Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
            .w3-quarter
            img(src='/w3images/sandwich.jpg' alt='Sandwich' style='width:100%')
            h3 The Perfect Sandwich, A Real Classic
            p Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            .w3-quarter
            img(src='/w3images/croissant.jpg' alt='Croissant' style='width:100%')
            h3 Le French
            p Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
        // Pagination
        .w3-center.w3-padding-32
            .w3-bar
            a.w3-bar-item.w3-button.w3-hover-black(href='#') &laquo;
            a.w3-bar-item.w3-black.w3-button(href='#') 1
            a.w3-bar-item.w3-button.w3-hover-black(href='#') 2
            a.w3-bar-item.w3-button.w3-hover-black(href='#') 3
            a.w3-bar-item.w3-button.w3-hover-black(href='#') 4
            a.w3-bar-item.w3-button.w3-hover-black(href='#') &raquo;
        hr#about
        // About Section
        .w3-container.w3-padding-32.w3-center
            h3 About Me, The Food Man
            br
            img.w3-image(src='/images/caroline-green.jpg' alt='Me' style='display:block;margin:auto' width='800' height='533')
            .w3-padding-32
            h4
                b I am Who I Am!
            h6
                i With Passion For Real, Good Food
            p
                | Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
        //hr
        // Footer
        //footer.w3-row-padding.w3-padding-32
            .w3-third
            h3 FOOTER
            p
                | Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
            p
                | Powered by 
                a(href='https://www.w3schools.com/w3css/default.asp' target='_blank') w3.css
            .w3-third
            h3 BLOG POSTS
            ul.w3-ul.w3-hoverable
                li.w3-padding-16
                img.w3-left.w3-margin-right(src='/images/sarah-you.jpg' style='width:50px')
                span.w3-large Lorem
                br
                span Sed mattis nunc
                li.w3-padding-16
                img.w3-left.w3-margin-right(src='/images/tom-jagger.jpg' style='width:50px')
                span.w3-large Ipsum
                br
                span Praes tinci sed
            .w3-third.w3-serif
            h3 POPULAR TAGS
            p
                span.w3-tag.w3-black.w3-margin-bottom Travel
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom New York
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Dinner
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Salmon
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom France
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Drinks
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Ideas
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Flavors
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Cuisine
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Chicken
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Dressing
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Fried
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Fish
                span.w3-tag.w3-dark-grey.w3-small.w3-margin-bottom Duck
