extends default

block content
    .main.container
        .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Log In
            body
                form(action='/login' method='POST')
                    div.form-login
                        label(for='username') Username
                        input.form-control(type='text' id='username' placeholder='username' name='username')
                    div.form-login
                        label(for='password') Password
                        input.form-control(type='password' id='password' placeholder='password' name='password')
                        button(type='submit') Log in
                a.button.button-twitter(href=`/signup`)
                    | Sign Up